<a href="https://colab.research.google.com/github/6309552317/6309552317/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(" hello world")

 hello world

In [ ]:
print("----- varibles in python-----")
print()
rainbow="violet","indigo","blue","green","yellow","orange","red"
planets="mercury","venus","earth","mars","jupiter","saturn","uranus","neptun"
prime_numbers=2,3,5,7,11
print("colours in rainbow",rainbow)
print("Address:",id(rainbow))
print()
print("planets",planets)
print("Address:",id(planets))
print()
print("prime numbers",prime_numbers)
print("Address:",id(prime_numbers))
print()

----- varibles in python-----

colours in rainbow ('violet', 'indigo', 'blue', 'green', 'yellow', 'orange', 'red')
Address: 139313943096448

planets ('mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'neptun')
Address: 139313933961696

prime numbers (2, 3, 5, 7, 11)
Address: 139313933869248

In [ ]:
s1=set()
print("Set datatype:",s1)
print(type(s1))
s2={1}
print("Set datatype:",s2)
print(type(s2))

Set datatype: set()
<class 'set'>
Set datatype: {1}
<class 'set'>

In [ ]:
s1=set()
print("Set datatype:",s1)
print(type(s1))
print()
s2={1}
print("Set datatype:",s2)
print(type(s2))

Set datatype: set()
<class 'set'>

Set datatype: {1}
<class 'set'>

In [ ]:
s1=eval(input("akash,suresh,sai,mahesh"))
print()
print("set datatype:",s1)
print(type(s1))

In [3]:
#print of two numbers
a=34
b=45
res=a+b
print(res)

79

In [4]:
#Find Maximum of two numbers in Python
a=67
b=45
print(max(a,b))

67

In [16]:
#Python Program for Simple Interest
def fun(p,t,r):
    return(p*t*r)/100
p,t,r=8,6,8
res=fun(p,t,r)
print(res)

3.84

In [15]:
#Factorial of a Number â€“ Python
n=6
fact=1
for i in range(1,n+1):
    fact *= i

In [21]:
#Python Program to Check Leap Year
year=2000
if (year% 400==0) and (year%100==0):
   print("{0} is a leap year".format (year))
elif(year%4==0) and (year%100!=0):
    print("{0} is a leap year".format(year))
else:
  print("{0} is not a leap year".format(year))

2000 is a leap year

In [27]:
num1=200
num2=600
num3=500
if (num1 >=num2) and (num1 >=num3):
    largest=num1
elif(num2>=1) and (num2>=num3):
    largest=num2
else:
  largest=num3
print("The largest number is", largest)

The largest number is 600